In [89]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [90]:
#loading csv into pandasframe
heart_data=pd.read_csv('C:/Users/Raghu ram/Downloads/archive (1)/heart.csv')

In [91]:
#print the dataset first 5 rows
heart_data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseA0gi0a,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,0,172,0,0.0,2,0
1,49,0,2,160,180,0,0,156,0,1.0,1,1
2,37,1,1,130,283,0,1,98,0,0.0,2,0
3,48,0,3,138,214,0,0,108,1,1.5,1,1
4,54,1,2,150,195,0,0,122,0,0.0,2,0

In [92]:
heart_data.tail()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseA0gi0a,Oldpeak,ST_Slope,HeartDisease
913,45,1,4,110,264,0,0,132,0,1.2,1,1
914,68,1,3,144,193,1,0,141,0,3.4,1,1
915,57,1,3,130,131,0,0,115,1,1.2,1,1
916,57,0,1,130,236,0,2,174,0,0.0,1,1
917,38,1,2,138,175,0,0,173,0,0.0,2,0

In [93]:
heart_data.shape

(918, 12)

In [94]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    int64
 2   ChestPainType   918 non-null    int64
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    int64
 7   MaxHR           918 non-null    int64
 8   ExerciseA0gi0a  918 non-null    int64
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    int64
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(11)
memory usage: 86.2 KB

In [95]:
heart_data.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseA0gi0a    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [96]:
#statistical measure
heart_data.describe()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseA0gi0a,Oldpeak,ST_Slope,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,0.789760,2.452070,132.396514,198.799564,0.233115,0.603486,136.809368,0.404139,0.887364,1.361656,0.553377
std,9.432617,0.407701,0.851832,18.514154,109.384145,0.423046,0.805968,25.460334,0.490992,1.066570,0.607056,0.497414
min,28.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,60.000000,0.000000,-2.600000,0.000000,0.000000
25%,47.000000,1.000000,2.000000,120.000000,173.250000,0.000000,0.000000,120.000000,0.000000,0.000000,1.000000,0.000000
50%,54.000000,1.000000,3.000000,130.000000,223.000000,0.000000,0.000000,138.000000,0.000000,0.600000,1.000000,1.000000
75%,60.000000,1.000000,3.000000,140.000000,267.000000,0.000000,1.000000,156.000000,1.000000,1.500000,2.000000,1.000000
max,77.000000,1.000000,4.000000,200.000000,603.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,1.000000

In [97]:
#checking distribution of heart data
heart_data['HeartDisease'].value_counts()

1    508
0    410
Name: HeartDisease, dtype: int64

In [98]:
X= heart_data.drop(columns='HeartDisease', axis=1)
Y= heart_data['HeartDisease']

In [99]:
print (X,Y)

     Age  Sex  ChestPainType  RestingBP  Cholesterol  FastingBS  RestingECG  \
0     40    1              1        140          289          0           0
1     49    0              2        160          180          0           0
2     37    1              1        130          283          0           1
3     48    0              3        138          214          0           0
4     54    1              2        150          195          0           0
..   ...  ...            ...        ...          ...        ...         ...
913   45    1              4        110          264          0           0
914   68    1              3        144          193          1           0
915   57    1              3        130          131          0           0
916   57    0              1        130          236          0           2
917   38    1              2        138          175          0           0

     MaxHR  ExerciseA0gi0a  Oldpeak  ST_Slope
0      172               0      0.0         2
1      156               0      1.0         1
2       98               0      0.0         2
3      108               1      1.5         1
4      122               0      0.0         2
..     ...             ...      ...       ...
913    132               0      1.2         1
914    141               0      3.4         1
915    115               1      1.2         1
916    174               0      0.0         1
917    173               0      0.0         2

[918 rows x 11 columns] 0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

In [100]:
#splitting the data into trainingdata and testdata

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, stratify=Y, random_state=2)

In [101]:
print (X.shape, X_train.shape, X_test.shape)

(918, 11) (826, 11) (92, 11)

In [102]:

reg=LogisticRegression()
reg.fit(X_train, Y_train)

C:\Users\Raghu ram\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [103]:
#accuracy score on training data 

X_train_prediction=reg.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction, Y_train)

In [104]:
print("accuracy on trained data::" , training_data_accuracy)

accuracy:: 0.8583535108958837

In [105]:
X_test_prediction=reg.predict(X_test)
test_data_accuracy= accuracy_score(X_test_prediction, Y_test)

In [106]:
print("accuracy test for testdata::" , test_data_accuracy)

accuracy test for testdata:: 0.8695652173913043

In [110]:
#building the predictive system
input_data=(60,1,3,100,248,0,0,125,0,1,1)
input_data_as_numpy_array=np.asarray(input_data)


#reshaping the array to predict single instance
input_data_reshape=input_data_as_numpy_array.reshape(1,-1)
prediction= reg.predict(input_data_reshape)
print (prediction)

[1]